<h2>Welcome, <%= @client.name %> to Balha Nails </h2>
<p><b>Here are the list of all services:</b></p>
<% @services.each do |service|%>
<ul>
  <li>
  <p><%= service.service_name %></p>
  </li>
</ul>
<%end%>
<a href="/services/new"><button><b>New Appointment</b></button></a>

<%# <p><a href="/logout"><button>Log Out</button></a></p> %>
