/* @media screen {
    /* --- Reset Styles --- */

* {
    list-style: none;
    margin: 0;
    padding: 0;
}

*/ html,
body {
    height: 100%;
    width: 100%;
}


/* --- Welcome Page Styles --- */

body {
    background-color: rgb(250, 217, 238);
    color: #333;
    font-family: Sans-Serif;
    line-height: 18px;
}

.wrapper {
    background: #fff;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    margin: 16px auto;
    max-width: 960px;
    padding: 2.25%;
    /* 18px / 800px */
    width: 95%;
}

.Title {
    position: absolute;
    top: 16px;
    left: 240px;
}

.logo {
    position: absolute;
    top: 26px;
    left: 1080px;
}

h2 {
    /* border-bottom: 2px solid #ccc; */
    font-size: 18px;
    font-style: italic;
    line-height: 26px;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    font-size: 18px;
    line-height: 36px;
}

p {
    margin-bottom: 18px;
    background-color: rgb(250, 212, 239);
}

.main {
    overflow: hidden;
}

.content {
    float: left;
    width: 65%;
    /* 480px / 800px */
}

.sidebar {
    /* background: #eee; */
    /* border: 1px solid #ccc; */
    float: right;
    /* padding: 2.08333333333%; */
    /* 5px / 240px */
    /* width: 30%; */
    /* 240px / 800px */
}

.branding {
    clear: both;
}

footer.branding {
    border-top: 2px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
}


/* .content,
.sidebar {
    float: none;
    width: 100%;
} */

.sidebar {
    background: transparent;
    border: none;
    /* border-top: 2px solid #ccc; */
    padding: 0;
}

h1 {
    font-size: 24px;
    line-height: 36px;
}

h6 {
    font-style: italic;
    padding: 5px;
    text-align: center;
    background-color: rgb(250, 212, 239);
}

.image2 {
    display: block;
    float: right;
}

label {
    background-color: lemonchiffon;
    font-weight: bold;
}

button {
    background-color: lightgreen;
    font-size: small;
}

input {
    background-color: rgb(196, 228, 248);
    font-size: small;
}