<div class="image2">
   <img src="images/piggy-paint-bottles-trimmed.png" width="500" height="100">
</div>
<form action="/login" method="post">
    <label for="email">Email: </label>
    <input type="email" name="email" id="email" placeholder="@eg.com" required><br><br>
    <label for="password">Password: </label>
    <input type="password" name="password" id="password" placeholder="password" maxlength="8" required><br><br>
    <input type="submit" value="Login">
</form>

