<form action="/login" method="post">
    <h3>Name: <input type="text" name="name" id="name" placeholder="name"></h3>
    <h3>Password: <input type="password" name="password" id="password" placeholder="password"></h3>
    <input type="submit" value="Login">
</form>
