<h1><%= @client.name %>'s Appointments:</h1>
<% @client.appointments.each do |appointment| %>
<ul>
  <li><a href="/appointments/<%=appointment.id%>"><%= appointment.service_name %></a></li>
</ul>
<% end %>
<a href="/appointments/new"><button><b>New Appointment</b></button></a>

<a href="/logout">Logout</a>

