<form action="/signup" method="post">
   <h3>Name: <input type="text" name="name" id="name" placeholder="name" required></h3>
   <h3>Phone No.: <input type="tel" name="tel" id="tel" placeholder="34234324(optional)" optional></h3>
   <h3>Email: <input type="email" name="email" id="email" placeholder="@eg.com" required></h3>
   <h3>Password<input type="password" name="password" id="password" placeholder="password" maxlength="8" required></h3>
   <input type="submit" value="submit" >
</form>
