<form method="POST" action="/appointments/<%= @appointment.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Appointment:</label>
  <select name="service_name" id="service_name">
    <option value="<%= @appointment.service_name %>"><%= @appointment.service_name %></option>
    <option value="Classic Manicure">Classic Manicure</option>
    <option value="Spa Manicure">Spa Manicure</option>
    <option value="Classic Pedicure">Classic Pedicure</option>
    <option value="Spa Pedicure">Spa Pedicure</option>
    <option value="Gel Manicure">Gel Manicure</option>
    <option value="Gel Pedicure">Gel Pedicure</option>
    <option value="Mini Manicure">Mini Manicure</option>
    <option value="Mini Pedicure">Mini Pedicure</option>
    </select>
  <label>Date:</label>
  <input type="date" name="date" id="date" value="<%= @appointment.date%>"><br><br>
  <input type="submit" value="submit">
</form>
