<h2>Welcome, <%= @client.name %> to Balha Nails </h2>
<p><b>Here are the list of all services:</b></p>
<% @appointments.each do |appointment|%>
<ul>
  <li>
  <p><%= appointment.service_name %></p>
  </li>
</ul>
<%end%>

<p><a href="/logout"><button>Logout</button></a></p>
