<form action='/appointments' method="post">

    <label for="appointment"><b>New Appointment:</b></label>
    <select id="service_name" name="service_name" required>
    <option value="">Select A Service</option>
    <option value="Classic Manicure">Classic Manicure</option>
    <option value="Spa Manicure">Spa Manicure</option>
    <option value="Classic Pedicure">Classic Pedicure</option>
    <option value="Spa Pedicure">Spa Pedicure</option>
    <option value="Gel Manicure">Gel Manicure</option>
    <option value="Gel Pedicure">Gel Pedicure</option>
    <option value="Mini Manicure">Mini Manicure</option>
    <option value="Mini Pedicure">Mini Pedicure</option>
    </select>
    
    <label for="date"><b>Date:</b></label>
    <input type="date" name="date" id="date" required min=<%=Date.current + 1%>>
    <input type="submit" value="Create Appointment">
  </form>
