<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>BalhaNails</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="wrapper">

        <%= yield %>
      
      <footer class="branding">
        <small>&copy; 2020 <strong>BalhaNails</strong></small>     
      </footer>
    </div>
  </body>
</html>
