<div class="container">
  <div class="Title"><img src="images/balha naills.png"></div>
  <div class="logo"><a href="/signup"><b>Sign Up</b></a>  |  <a href="/login">Log In</a></div>
  <img src="images/2_1553572332_84_sli3.png" width="960" height="300">
  <%# <div class="logo"></div> %>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Balha Nails</h2>

    <div class="content">
      <p>Our goal is to provide the highest quality of Nail and Spa services, offering environmental lifestyle products to each of our clients under the highest standards of business ethics. Our purpose is to create a beautifully unique group of nail spas in markets that will attract people who are looking to have an enjoyable nail servic experience. Our aim is to provide all guests with impeccable service through experiences that nurture the body, mind & spirit.</p>
    </div>

    <div class="sidebar">
        <img src="images/lavender-dreams-nail-spa-lyris-inside.jpg" width="290" height="190">
    </div>
  </div>
  <div class="image">
    <img src="images/splash_01.jpg" width="250" height="150">
  </div>
</div>


